
/* RESET
------------------------*/
*::-moz-selection { background-color: #000;color: #FFF; }
::selection { background-color: #000;color: #FFF; }
*, *:after, *:before { box-sizing: border-box; }

.block {
	display: block;
}


/* HEADER PAGE
------------------------*/
.header-page { text-align: center;display: block; }
.header-page .img-logo { display: block;margin: 10px auto 20px auto; }
.header-page .menu { border-bottom: 2px solid #CCC;display: block;margin: 0;width: auto;height: auto; }
.header-page .menu .menu-item { color: #000;border-bottom: 2px solid transparent; }
.header-page .menu .menu-item { display: inline-block;margin: 0 0 -2px 0;padding: 10px 20px; }
.header-page .menu .menu-item:hover { color: #CCC; }
.header-page .menu .menu-item.active { color: #000;font-weight: bolder;border-bottom: 2px solid #000; }


/* MAIN PAGE
------------------------*/
.main-page { background-color: #DDD;display: block;margin: 20px 0; }
.main-page > .div-h1 { display: block;margin: 0 auto;text-align: center; }
.main-page > .div-h1 > h1 { text-align: center;display: inline-block;margin: 0 auto;padding: 10px;position:relative; }
.main-page > .div-h1 > h1:before { content: ' ';background: #000;width: 40px;height: 1px;margin-left: -20px;position: absolute;left: 50%;bottom: 0; }

/*--- contact page ---*/
.container-form {
	margin: 15px auto 0 auto;
	width: 500px;
}

.container-form .form-contacts div.container-input-file,
.container-form .form-contacts input.margin-input { margin-bottom: 5px;  }

.container-form .form-contacts .buttons {
	text-align: center;
	display: block;
	margin: 10px 0;
}

.ui.form .field { margin:0; }
.ui.input .photo { background: #85B7D9; }
.content-field { display: block;width: 100%; }
.content-field .field-search { width: 100%; }



/* FOOTER PAGE
------------------------*/
.footer-page { border-top: 3px solid lightblue;background: #DDD;text-align: center;display: block;padding: 15px 0; }
.footer-page p { color: #000;  }